@page "/lake-sightings"
@inject IApiService apiService
@using LakeXplorerBlazor.Data


@foreach (var sighting in Sightings)
{
    <div>
        <h2>@sighting.Id</h2>
        <button @onclick="() => LikeSighting(sighting.Id)">Like</button>
    </div>
}
@code {
    private List<LakeSightingDto> Sightings = new List<LakeSightingDto>();
    private string errorMessage = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        Sightings = await apiService.HttpGET<List<LakeSightingDto>>("api/LakeSightings");
    }
    private async Task LikeSighting(int sightingId)
    {
        var response = await apiService.HttpPOST<string>($"api/LakeSightings/like/{sightingId}", null);
        if (response != null)
        {
            // Handle successful like
        }
        else
        {
            errorMessage = "An error occurred while liking the sighting.";
        }
    }
}
