@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Hello @username</h3>
@code {
    public string username { get; set; } = "N/A";
    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authenticationState?.User?.Identity?.IsAuthenticated == true)
        {
            username = authenticationState.User?.Claims?.FirstOrDefault(f =>
                f.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value;
        }
    }
}